body {
    background-image: linear-gradient(180deg, lightblue, lightgreen);
    display: block;
    margin: 0;
}

* {
  font-family: 'Trebuchet MS';
  box-sizing: border-box;
}

section.main {
  padding-left: 15px;
  margin-top: 80px;
}

h1 {
    color: darkblue;
    text-align: center;
    font-size: 24px;
}

h2 {
  font-size: 20px;
}

p {
    color: black;
    font-size: 14px;
}

div.paragraph {
    margin-left: 20px;
    margin-right: 20px;
}

.text {
    line-height: 150%;
    hyphens: auto; 
	  text-align: justify;
    text-align-last: none;
}

/* image settings */
.image-container{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    margin-bottom: 2%;
  }

  .second-image-container {
    display: flexbox;
    flex-wrap: wrap;

    img {
       max-width: 60%;
       margin: 2%;
       vertical-align: middle;

    }
  }

  img {
    max-width: 45%;
  }

  iframe.openstreetmap {
    width: 440px; 
    height: 280px;
    max-width: 75%;
  }

  /* footer styling */
  footer {
    background-color: #888888;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: 3px solid black;

    p {
    margin: 0;
    font-size: 20px;
    color: white;
    }
}

/* up-to-the-top-button */
button.up-to-top-button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 15px; /* Place the button at the bottom of the page */
  right: 15px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: bisque; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 15px; /* Rounded corners */
  font-style: oblique;
}

button.up-to-top-button:hover {
  background-color: palevioletred; /* Add a dark-grey background on hover */
}

/* top-bar component and burger menu */
.top-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  justify-content: space-between;
  background: linear-gradient(to right, #888888, skyblue, slateblue);
  color: whitesmoke;
  line-height: 50px;
  font-size: 20px;
  padding: 10px;
  z-index: 10;
}

.top-bar #menuLinks {
  display: none;
  width: 150px;
  margin: 0px 10px;
  right: 0px;
  top: 60px;
  padding: 10px 10px;
  background-color: bisque;
  position: absolute;

  a {
    color: orangered;
    text-align: right;
  }
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-bar a {
  color: whitesmoke;
  padding: 0 16px;
  text-decoration: none;
  display: block;
}

.top-bar a.menu-button {
  background: midnightblue;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}

.top-bar a.menu-button:hover {
  background-color: bisque;
  color: black;
}
